div.Footer_footer {
	width: 100%;
	flex: 1;
}

@media (min-width: 1024px) {
	div.Footer_footer {
		max-width: calc(1600px + (100vw / 64 * 7) * 2);
		padding-left: calc(100vw / 64 * 7);
		padding-right: calc(100vw / 64 * 7);
	}
}

@media (min-width: 1440px) {
	div.Footer_footer {
		max-width: calc(1600px + (100vw/72*9)*2);
		padding-left: calc(100vw/72*9);
		padding-right: calc(100vw/72*9);
	}
}

@media (min-width: 1440px) {
	.slim.Footer_footer {
		max-width: calc(1440px + (100vw/72*2)*2);
		padding-left: calc(100vw/72*7);
		padding-right: calc(100vw/72*7);
	}
}

.grid-container.Footer_con {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.grid-container.Footer_footer2 {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: space-between;
}

.Footer_fi, .Footer_fp, .Footer_fr, .Footer_fs {
	width: 100%;
}

@media (min-width: 800px) {
	.Footer_fr {
		width: 240px;
	}
}

@media (min-width: 800px) {
	.Footer_fp {
		width: 140px;
	}
}

@media (min-width: 800px) {
	.Footer_fi, .Footer_fs {
		width: 260px;
	}
}

.zeroMinWidth.Footer_container {
	min-width: 0
}

.grid-item.Footer_container {
	margin: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 600px) {
	.grid-item.Footer_container {
	}
}

@media screen and (min-width: 800px) {
	.grid-item.Footer_container {
	}
}

@media screen and (min-width: 1024px) {
	.grid-item.Footer_container {
	}
}

@media screen and (min-width: 1440px) {
	.grid-item.Footer_container {
	}
}

.grid-container.Footer_footer2>.grid-item {
	padding: 0px
}